/* stylelint-disable */
* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
  margin-right: 1rem;
}

.navbar {
  display: none;
}

.nav3 {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 0.8;
  z-index: 1;
}

nav img {
  position: absolute;
  float: right;
  right: 20px;
}

.nav3 img {
  height: 20px;
  width: 20px;
}

.sixty {
  padding-top: 25px;
  margin-left: 440px;
}

.navigation {
  list-style-type: none;
  padding-top: 45px;
}

.navigation li {
  margin-bottom: 31px;
}

.navlink2 {
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 490;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 35px;
}

.hide {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: auto;
}

h1 {
   font-weight: 900;
   line-height: 45px;
    font-size: 2rem;
    display: flex;
    color: white;
    position: relative;
    top: 2rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 2rem;
    font-style: normal;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

.head-cont {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 24px;
  background-color: white;

}

header .logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
  animation-duration: 3s;
  animation-name: slideIn;
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  } to {
    margin-left: 0%;
    width: 100%;
  }
}

.body p {
  font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: aliceblue;
    padding: 45px 4px 4px 4px;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    font-style: normal;
    margin-left: 1.5rem;
}

.body h2 {
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 24px;
  color: #000;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.body ul,
.icons {
  display: flex;
  list-style: none;
  margin-left: 24px;
}

.social img {
  color: blue;

}

.body {
  border-radius: 0 0 0 35px;
  background-image: url("images/real-sea.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 2rem;
  width: 100%;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  gap: 1rem;
}

.project {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  padding: 15px;
  border-radius: 24px;
  background-color: white;

  /* margin-bottom: 100px; */
}

.project h2 {
  position: static;
  width: 295px;
  left: 0;
  top: 0;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: static;
  width: 250px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-bottom: 15px;
}

.project p {
  position: static;
  width: 295px;
  margin-bottom: 12px;
  left: 0;
  top: 92px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.popupx {
  display: flex;
  margin-left: 300px;
  margin-bottom: -30px;
  margin-top: 30px;
}

.project1 h2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 20px;
}

.list1 {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list1 li {
  padding-right: 5px;
}

.my-img1 {
  margin-left: 15px;
  margin-bottom: 10px;
}

.project1 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 1rem 2rem 1rem 4rem;
  background-color: #fff;
  height: 713px;
  width: 343px;
  left: calc(50% - 343px / 2);
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.project1 p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #344563;
  width: 300px;
  height: auto;
  margin-left: 20px;
  font-size: 15px;
}

.show1 {
  display: flex;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-left: 18px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.show1 li {
  padding: 3px 5px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background-color: #e4e4ff;
  border-radius: 8px;
  margin-right: 15px;
}

.ok1 {
  display: none;
}

.house {
  display: flex;
  gap: 10px;
  margin-left: 18px;
  margin-top: 2px;
  padding-top: 2px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #3960f2;
}

.button1a {
  background-color: #fff;
  padding-bottom: 1px;
}

.house .button1a {
  color: #3960f2;
  border: 1px solid #7b95fd;
  padding: 3px 5px;
  border-radius: 8px;
  padding-right: 15px;
  margin-top: 5px;
}

.tech-skills li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  list-style-type: none;
  background: #f7f7f9;
  margin-bottom: 10px;
  color: #253858;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  height: 40px;
  height: 66.72px;
  margin-right: 15px;
}

.project ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: max-content;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-bottom: 15px;
  gap: 10px;
}

.languages li {
  color: black;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
}

.project ul li {
  background: #ffa500;
  color: #000;
  border-radius: 8px;
  padding: 4px 12px;
}

button {
  border: none;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  transform: translate(10px, 10px);
}

.button {
  width: max-content;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19.5px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  border: #396df2 1px solid;
  border-radius: 10px;
  padding: 9.2px;
}

.button:active {
  background: #2230d2;
  color: white;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.about-container {
  background-color: white;
  border-radius: 0 35px 0 0;
  padding: 24px;
  
}

.about h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color:  #7f8cff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.my-img img {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
}

.my-img2 {
  display: none;
}

.about h3 {
  margin-top: 1rem;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #7f8cff;
  margin-left: 10px;
}

.icons {
  margin-left: 10px;
  margin-bottom: 12px;
}

.last {
  background-color: white;
  padding: 24px;
  margin-bottom: 20px;
}

.last ul {
  list-style: none;
}

.last h2 {
  margin-bottom: 30px;
}

.last ul li {
  margin-bottom: 15px;
}

.ok {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.fa-solid,
.fas {
  font-weight: 900;
  font-size: 20px;
  height: 20px;
  color: rgb(196, 165, 165);
}

.tech-skills-detail {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tech-skills-detail img {
  margin-right: 20px;
}

.tech-skills-detail p {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  background-color: #f7f7f9;
}

.contactform1 {
  background-image: url("images/plane.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top right;
  border: none;
  border-top-left-radius: 35px;
  padding: 30px;
  padding-top: 100px;
  color: #fff;
}

.contactform1 h2 {
  padding-top: 15px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  text-transform: capitalize;
  text-align: center;
}

.contactform1 p {
  font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    margin-left: 1rem;
    color: #fff;
}

.contactform1 form {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  border-radius: 8px;
}

.contactform1 form textarea {
  width: 99%;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  margin-top: 15px;
  padding-top: 25px;
  padding-left: 15px;
  border: none;
}

.contactform1 input {
  padding-top: 15px;
  padding-left: 10px;
}

.show .ok {
  display: none;
}

.contactform1 form input {
  width: 100%;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  margin-top: 15px;
  border: none;
}

.blur {
  filter: blur(5px);
}

.sub1 {
  padding: 12px 16px;
  border-radius: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  position: relative;
  color: #6070ff;
  left: 5rem;
  top: 1rem;
}

@media screen and (min-width: 768px) {

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .nav .ham {
    display: none;
  }

  .nav .navbar {
    display: flex;
    gap: 20px;
  }

  .navlinks {
    text-decoration: none;
    text-transform: capitalize;
  }

  .nav3 {
    display: none;
  }

  .body {
    background-image: url("images/real-sea.jpg");
   background-size: 100% 100%;
   padding-bottom: 10rem;
  }

  .body .desc {
    width: 85%;
    display: flex;
    position: relative;
    font-size: 1.3rem;
  }

  .head-cont {
    margin-left: 40px;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
  }

  

  .social {
    margin-left: 20px;
  }

  .mobile-image {
    height: auto;
    width: 100%;
  }

  .popupx {
    display: flex;
    margin-left: 1100px;
    margin-top: 30px;
  }

  .project1 h2 {
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-left: 30px;
    margin-top: -30px;
  }

  .list1 {
    display: flex;
    margin-left: 35px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .list1 li {
    padding-right: 10px;
    color: #344563;
  }

  .my-img img {
    width: 100%;
    border-radius: 2rem;
    height: 100%;
  }

  .my-img1 {
    display: none;
  }

  .my-img2 {
    display: flex;
  }

  .mobile-image2 {
    width: 100%;
    height: 400px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .project1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1rem 2rem 1rem 4rem;
    background-color: #fff;
    width: 1156px;
    height: 610px;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
  }

  .ok1 {
    display: flex;
  }

  .project1 p {
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #344563;
    width: 500px;
    height: auto;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 24px;
    padding-top: 5px;
  }

  .show1 {
    display: flex;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-left: 280px;
    padding-top: 10px;
    float: right;
    margin-top: -55px;
    margin-right: 350px;
  }

  .show1 li {
    padding: 2px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    border-radius: 8px;
    background-color: #e4e4ff;
    margin-right: 15px;
  }

  .house {
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    padding-top: 3px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #3960f2;
    float: right;
    margin-top: -28px;
    margin-right: 380px;
  }

  .button1a {
    background-color: #fff;
    padding-bottom: 5px;
  }

  .house .button1a {
    color: #3960f2;
    border: 1px solid #7b95fd;
    padding: 5px 10px;
    border-radius: 8px;
    padding-right: 15px;
    margin-top: 5px;
  }

  .proj-flex {
    display: flex;
  }

  .project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 20rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 50px;
  }

  .project:hover {
    cursor: pointer;
    border: 2px solid #a7aeff;
    box-shadow: 1px 10px 16px rgb(64, 83, 252, 0.24);
  }

  .my-img {
    width: 100%;
    border-radius: 8px;
  }

  .my-text {
    width: 100%;
    margin: 10px;
    margin-left: 25px;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: -50px;
  }

  .my-img .project:nth-child(odd) {
    height: 50%;
  }

  .show .ok {
    display: flex;
    background-color: #ffa500;
    color: #000;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    border-top-right-radius: 100px;
  }

  .about {
    width: 100%;
    height: auto;
  }

  .about h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }

  .about h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }

  .contactform1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .icons {
    margin-left: 80px;
  }

  form .button {
    margin: 20px 550px;
  }

  .about .button {
    margin-left: 80px;
  }

  .last {
    width: 50%;
    height: auto;
    margin-top: 4rem;
  }

  .lang {
    display: flex;
    flex-direction: row;
    padding-left: 1px;
    align-items: center;
  }

  .tech-skills-detail {
    display: flex;
    flex-direction: column;
    margin: 1px 8px;
    width: auto;
    height: auto;
  }

  h2 .contactform1 {
    text-align: center;
  }

  .flex-container .contactform1 {
    border-top-left-radius: 100px;
  }

  .contactform1 p {
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactform1 form input {
    width: 50%;
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 0;
    margin-left: 300px;
    border: none;
  }

  .contactform1 form textarea {
    width: 50%;
    font-size: 17px;
    line-height: 20px;
    border-radius: 0;
    margin-top: 15px;
    padding-top: 25px;
    padding-left: 15px;
    border: none;
    margin-left: 300px;
  }

  .fas {
    color: rgb(196, 165, 165);
  }

  .sub1 {
    padding: 1rem;
    border-radius: 8px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6070ff;
    margin-left: 8rem;
  }

  #error {
    margin-left: 400px;
    position: absolute;
    top: 35px;
    left: 10px;
  }

  .contactform1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10rem;

  }
}
